<!-- 获取数据表格对象 -->
@ var userMap = Table("User");

<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">${menu}</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!home_console">首页</a>
          <a><cite>${menu}</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div id="query" class="layui-form toolbar">
            <!-- 获取查询项 -->
            @QueryTag("User"){}

            <button id="user-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button id="user-btn-add" class="layui-btn icon-btn" lay-tips="新用户密码为1"><i class="layui-icon">&#xe654;</i>添加
            </button>
        </div>

        <table class="layui-table" id="${userMap.tableId}" lay-filter="${userMap.tableId}"></table>
    </div>
</div>

<!-- 获取表格尾部操作列 -->
@ToolbarTag("User"){}

<!--<script type="text/html" id="user-table-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
</script>-->

<!-- 表格（开关）状态列 -->
@SwitchTag("User"){}

<!--<script type="text/html" id="user-tpl-state">
    <input type="checkbox" lay-filter="user-tpl-state" value="{{d.userId}}" lay-skin="switch" lay-text="正常|锁定"
           {{d.userState==0?'checked':''}}/>
</script>-->


<script>

    layui.use(['form', 'table', 'util', 'admin', 'element'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var element = layui.element;

        form.render('select');

        // 渲染表格
        table.render(${userMap.data});
        /*table.render({
            elem: '#user-table',
            url: 'system/user/list.do',
            page: true,
            cols: [[
                {type: 'numbers'},
                {field: 'userName', sort: true, title: '账号'},
                {field: 'userNickname', sort: true, title: '用户名'},
                {
                    sort: true, templet: function (d) {
                        return util.toDateString(d.userCreateTime);
                    }, title: '创建时间'
                },
                {field: 'userState', sort: true, templet: '#user-tpl-state', title: '状态'},
                {align: 'center', toolbar: '#user-table-bar', title: '操作'}
            ]]
        });*/

        // 添加按钮点击事件
        $('#user-btn-add').click(function () {
            showEditModel();
        });

        // 工具条点击事件
        table.on("tool(${userMap.tableId})", function (obj) {
            var data = obj.data;
            console.log(obj.data);
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'reset') { // 重置密码
                layer.confirm('确定重置此用户的密码吗？', function (i) {
                    layer.close(i);
                    layer.load(2);
                    $.post('system/user/restPsw.do', {
                        userId: obj.data.userId
                    }, function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {
                            layer.msg(data.msg, {icon: 1});
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    });
                });
            }
        });

        // 显示表单弹窗
        var showEditModel = function (data) {
            var title = data ? '修改用户' : '添加用户';
            admin.putTempData('t_user', data);
            admin.popupCenter({
                title: title,
                path: 'system/user/editForm',
                finish: function () {
                    table.reload('${userMap.tableId}', {});
                }
            });
        };

        // 搜索按钮点击事件
        $('#user-btn-search').click(function () {
            var query = {};
            $("#query").find("input").each(function (index, obj) {
                query[obj.id] = obj.value.trim();
            })
            console.log(query);
            table.reload('${userMap.tableId}', {where: query});
        });

        // 修改user状态
        form.on('switch()', function (obj) {
            layer.load(2);
            $.post('system/user/updateState.do?clazz=User', {
                userId: obj.elem.value,
                state: obj.elem.checked ? 0 : 1
            }, function (data) {
                console.log(data);
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    //table.reload('table-user', {});
                } else {
                    layer.msg(data.msg, {icon: 2});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            });
        });
    });
</script>

